[submodule "omnicore-auth"]
	path = omnicore-auth
	url = https://github.com/dre7djib/omnicore-auth
	branch = main
[submodule "omnicore-user"]
	path = omnicore-user
	url = https://github.com/dre7djib/omnicore-user
	branch = main
[submodule "omnicore-product"]
	path = omnicore-product
	url = https://github.com/dre7djib/omnicore-product
	branch = main
[submodule "omnicore-gateway"]
	path = omnicore-gateway
	url = https://github.com/dre7djib/omnicore-gateway
	branch = main
[submodule "omnicore-db"]
	path = omnicore-db
	url = https://github.com/YNOV-M1-Arch-Log/omnicore-db.git
[submodule "omnicore-order"]
	path = omnicore-order
	url = https://github.com/YNOV-M1-Arch-Log/omnicore-order.git
